body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: pink;
  color: aliceblue;
}


* {
  font-family: 'Inter', sans-serif;
}

.main-panel {
  width: 50vw;
}

.container {
  /* width:; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}

.today {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.temp {
  margin: 0;
  font-size: 164px;
  color: aliceblue;
  text-shadow: -4px 3px 5px black;
}

.stats {
  flex-wrap: wrap;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.stats div {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.humidity {
  border-left: 1px solid white;
  height: fit-content;
}

.rain-percents {
  border-left: 1px solid white;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.date {
  font-size: 32px;
}

.time {
  font-size: 24px;
}

.card {
  border: 0.1px solid white;
  border-radius: 10px;
  background: rgb(255, 255, 255, 0.2);
  padding: 10px;
}

.card p {
  margin: 0;
}

.forecast {
  margin-top: 25px;
}

.content {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.text-p {
  font-size: 28px;
}

.main-panel {
  margin-bottom: 20px;
}

.search-input {
  width: 100%;
  box-sizing: border-box;
  font-size: 30px;
  background-color: pink;
  border: none;
}

.search-input::placeholder {
  color: aliceblue;
  text-align: center;
}

.search-input:focus {
  background-color: pink;
  border: none;
  outline: none;
}

.hours {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 0 160px 0;
  border-bottom: 2px solid aliceblue;
}

.location {
  font-size: 35px;
}


.sunrise-clocks,
.sunset-clocks {
  border-radius: 30px;
  background: rgb(255, 255, 255, 0.2);
  padding: 10px;
}

.quality {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

progress {
  height: 50px;
}

br {
  display: block;
  margin-bottom: 2px;
  font-size: 2px;
  line-height: 2px;
  color: aliceblue;
}

.side {
  padding-top: 50px;
}


@media screen and (min-width : 320px) and (max-width: 1024px) {
  .main-panel {
    width: 85vw;
  }

  .temp {
    font-size: 100px;
  }

  .hours {
    padding: 0 0 30px 0;
  }

  .list {
    overflow: scroll;
    justify-content: flex-start;
  }

  .card {
    margin: 20px;
  }

  .stats {
    flex-direction: column;
  }

  .wind,
  .humidity,
  .rain-percents {
    border: none;
    font-size: 25px;
  }
}